<h1>Edit <%= @product.name %> </h1>
  <% if @product.errors.any? %>
  <div class= "error_message">
    <h3>Please fix these errors:</h3>
    <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


<form action= "/products/<%=@product.id%>" class="edit_product" id="edit_product" method="post"><%= token_tag %> 
<input type="hidden" name="_method" value="patch" />
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputName">Product Name</label>
      <input type="text" class="form-control" id="inputName" placeholder="Name" name= "product[name]" value="<%=@product.name%>">
    </div>
    <div class="form-group col-md-4">
      <label for="inputCost">Cost</label>
      <input type="text" class="form-control" id="inputCost" placeholder="Cost" name= "product[cost]" value="<%=@product.cost%>">
    </div>
    <div class="form-group col-md-4">
      <label for="inputOrigin">Country of Origin</label>
      <input type="text" class="form-control" id="inputOrigin" placeholder="Us, Russia, China etc." name="product[country_of_origin]" value="<%=@product.country_of_origin%>">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Edit Product</button>
</form>
<br>
<p><%= link_to "Return to Product Page", product_path(@product) %></p>