<div class = "jumbotron">
  <h1>Mario's Speciality Foods</h1>
</div>
<%= render "layouts/navbar" %>
<br>
<% if @products.any? %>
<h2>Products Available</h2>
<% if is_admin? %>
  <p><%= link_to "Create new product", new_product_path %></p>
<% end %>
<div class="form-check form-check-inline pull-right">
  <form id= "usProductsForm">
    <input class="form-check-input" type="checkbox" id="us_products" name="us_products">
    <label class="form-check-label" for="us_products">Display US Made Products</label>
  </form>
</div>
<table class="table table-hover table-dark table-bordered table-custom">
  <thead>
    <tr class="table-header">
      <th scope="col">id</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Cost</th>
      <th scope="col">Product Origin</th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.id%></td>
      <td><%= link_to product.name, product_path(product) %></td>
      <td><%= product.cost%></td>
      <td><%= product.country_of_origin%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>There are no Products added yet.</p>
  <% if is_admin? %>
    <p><%= link_to "Create new product", new_product_path %></p>
  <% end %>
<% end %>
